* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    background: linear-gradient(45deg, #f1ad47, #f9b152, #ead72f, #f2ef29);
    padding: 28px 42px;
    top: 0;
    position: sticky;
    z-index: 1000;
}

section {
    padding: 64px 103.55px;
    position: relative;
}

section::before {
    z-index: -1;
    content: '';
    font-size: 64px;
    background: linear-gradient(45deg, #064bb8, #3c5cec, #1084ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.5;
    position: absolute;
    font-weight: 600;
    top: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.navbar h1 {
    cursor: default;
}

h1 {
    font-size: 32px;
    background: linear-gradient(45deg, #064bb8, #3c5cec, #1084ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pipe-h1 {
    background: linear-gradient(45deg, #8190d3, #6896c8);
    width: 130px;
    height: 1.5px;
    right: -5px;
    bottom: 4px;
    position: absolute;
}

.navbar div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 14px;
}

.navbar a {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    background: linear-gradient(45deg, #3c5cec, #1084ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.landing-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.div-landing-welcome h1 {
    padding: 2px 0 16px 0;
    font-size: 64px;
}

.div-landing-welcome h3 {
    font-size: 24px;
}

.div-landing-img {
    position: absolute;
    left: 260px;
    bottom: 116px;
    animation: 2s upDown infinite;
}

.a-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 0 0 0;
    text-decoration: none;
}

.a-info div {
    background: linear-gradient(45deg, #f8e12f, #ff9d00);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 0 10px 0;
}

.arrow {
    height: 100%;
    width: auto;
    animation: 3s upDown1 infinite;
}

section#about {
    padding-top: 128px;
}

#about {
    margin-top: 48px;
}

#about::before {
    content: 'About Me';
}

.div-img img {
    top: 28px;
    left: 390px;
    position: absolute;
}

.about-div {
    display: flex;
    justify-content: space-between;
}

.div-h1 {
    padding: 0 300px 0 0;
}

.div-h1 h1 {
    font-size: 22px;
}

@keyframes upDown {
    0% {
        transform: translateY(4px);
    }

    50% {
        transform: translateX(6px);
    }

    100% {
        transform: translateY(4px);
    }
}

@keyframes upDown1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(6px);
    }

    100% {
        transform: translateY(0);
    }
}