* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

section {
    scroll-margin-top: 106px;
    padding: 64px 103.55px;
    position: relative;
}

section::before {
    z-index: -1;
    content: '';
    font-size: 58px;
    background: linear-gradient(45deg, #064bb8, #3c5cec, #1084ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.5;
    position: absolute;
    font-weight: 700;
    top: 10px;
}


/* Navbar Start */
.navbar {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(45deg, #f1ad47, #f9b152, #ead72f, #f2ef29);
    padding: 28px 42px;
    align-items: center;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 2px 11px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.navbar:hover {
    box-shadow: 0 3px 24px rgb(0, 0, 0, 0.5);
}

.navbar div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.navbar a {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    background: linear-gradient(45deg, #3c5cec, #1084ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar h1 {
    cursor: default;
}

.nav-link {
    display: flex;
    margin: 0;
    list-style: none;
    gap: 16px;
}

.navbar ul a {
    position: relative;
    transition: color 0.5s ease;
}

.navbar ul a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px; /* jarak underline */
    width: 100%;
    height: 2px;
    border-radius: 50px;
    background: currentColor; /* Membuat warna sama dengan teks */
    transition: transform 0.5s ease;
    transform: scaleX(0); /* mulai dari 0 */
    transform-origin: center; /* mulai dari tengah */
}

.navbar ul a:hover {
    color: #1084ff;
}

.navbar ul a:hover::after {
    transform: scaleX(1); /* full saat hover */
}

/* Fungsi Underline pada beranda */
 /* .navbar ul a.active {
    color: #1084ff;
}

.navbar ul a.active::after {
    transform: scaleX(1);
} */
/* Navbar End */


/* Hamburger Menu Start */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 30%;
    height: 22px;
    cursor: pointer;
    z-index: 1001;
}

.hamburger .bar {
    display: block;
    transform-origin: center;
    backface-visibility: hidden;
    will-change: transform;
    height: 3px;
    width: 30px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}
/* Hamburger Menu End */

/* Hamburger navbar becomes X Start */
.hamburger.active .bar:nth-child(1) {
    transform: translateY(9.5px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-9.5px) rotate(-45deg);
}
/* Hamburger navbar becomes X End */

h1 {
    font-size: 32px;
    font-weight: 700;
    background: linear-gradient(45deg, #064bb8, #3c5cec, #1084ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pipe-h1 {
    background: linear-gradient(45deg, #8190d3, #6896c8);
    width: 130px;
    height: 1.5px;
    right: -5px;
    bottom: 4px;
    position: absolute;
}

h3 {
    font-weight: 700;
}


.landing-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.div-landing-welcome h1 {
    padding: 2px 0 16px 0;
    font-size: 64px;
}

.div-landing-welcome h3 {
    font-size: 24px;
}

.div-landing-img {
    left: 260px;
    bottom: 140px;
    animation: 2s upDown infinite;
    position: absolute;
}

.div-landing-img img {
    width: 100px;
}

.a-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 0 0 0;
    text-decoration: none;
}

.a-info div {
    background: linear-gradient(45deg, #f8e12f, #ff9d00);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 0 10px 0;
}

.arrow {
    height: 100%;
    width: auto;
    animation: 3s upDown1 infinite;
}

section#about {
    padding-top: 148px;
}

#about {
    margin-top: 48px;
}

#about::before {
    content: 'About Me';
}

.div-img img {
    top: 28px;
    left: 370px;
    position: absolute;
}

.about-div {
    display: flex;
    justify-content: space-between;
}

.div-h1 {
    position: relative;
    padding: 0 300px 0 0;
}

.div-h1 h1 {
    font-size: 24px;
}

.div-h1 h1:nth-of-type(1) {
    padding: 0 0 80px 0;
}

.div-h1 img:nth-of-type(1) {
    position: absolute;
    top: -10px;
    left: 0;
    opacity: 0.3;
    z-index: -1;
    transform: rotate(45deg);
}

.div-h1 img:nth-of-type(2) {
    position: absolute;
    top: 176px;
    left: 0;
    opacity: 0.3;
    z-index: -1;
    transform: rotate(45deg);
}

.about-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
    overflow: hidden;
    width: fit-content;
}

.about-img h1 {
    font-size: 22px;
    padding: 0 0 16px 0;
}

.about-item {
    position: relative;
    width: 360px;
}

.about-item:after {
    content: '';
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.66);
    opacity: 0;
    transition: opacity 0.5s ease;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.about-item:hover::after {
    opacity: 1;
}

#about-1:hover::after {
    content: 'Simetri Semesta 1.618';
}

#about-2:hover::after {
    content: 'FLUFYOS Company 2';
}

section#court {
    padding-top: 148px;
}

#court {
    margin-top: 48px;
}

#court::before {
    content: 'Nearest Court';
}

.h1-court h1 {
    font-size: 28px;
    padding: 0 0 32px 0;
}

#carousel {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

#carousel-1 { 
    position: relative;
    border-radius: 18px;
    padding: 20px 30px;
    background: linear-gradient(45deg, #f8e12f, #ff9d00);
    z-index: 0;
    overflow: hidden;
    width: 400px;
}

#carousel-1::before {
    content: '';
    position: absolute;
    top: 4px;
    bottom: 4px;
    right: 4px;
    left: 4px;
    background: white;
    border-radius: 16px;
    z-index: -1;
}

#carousel-2 {
    position: relative;
    border-radius: 18px;
    padding: 20px 30px;
    background: linear-gradient(45deg, #f8e12f, #ff9d00);
    z-index: 0;
    overflow: hidden;
    width: 400px;
}

#carousel-2::before {
    content: '';
    position: absolute;
    top: 4px;
    bottom: 4px;
    right: 4px;
    left: 4px;
    background: white;
    border-radius: 16px;
    z-index: -1;
}

#carousel-3 {
    position: relative;
    border-radius: 18px;
    padding: 20px 30px;
    background: linear-gradient(45deg, #f8e12f, #ff9d00);
    z-index: 0;
    overflow: hidden;
    width: 400px;
}

#carousel-3::before {
    content: '';
    position: absolute;
    top: 4px;
    bottom: 4px;
    right: 4px;
    left: 4px;
    background: white;
    border-radius: 16px;
    z-index: -1;
}

#carousel-4 {
    position: relative;
    border-radius: 18px;
    padding: 20px 30px;
    background: linear-gradient(45deg, #f8e12f, #ff9d00);
    z-index: 0;
    overflow: hidden;
    width: 400px;
}

#carousel-4::before {
    content: '';
    position: absolute;
    top: 4px;
    bottom: 4px;
    right: 4px;
    left: 4px;
    background: white;
    border-radius: 16px;
    z-index: -1;
}

.pipe-carousel {
    background: black;
    border-radius: 50px;
    width: 340px;
    height: 2px;
    position: absolute;
}

.location-div {
    display: flex;
    align-items: center;
    padding: 16px 0 4px 0;
}

.location-div img {
    width: 50px;
}

.location-div h1 {
    font-size: 26px;
}

section#contact {
    padding-top: 148px;
}

#contact {
    margin-top: 48px;
}

#contact::before {
    content: 'My Contact';
}

.card-div {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.h1-contact {
    padding: 0 0 32px 0;
}

.card {
    width: 500px;
    transition: 1s;
    box-shadow: 2px 4px 9px rgba(179, 179, 179, 0.5);
}

.card:hover {
    transform: scale(0.9);
    box-shadow: 2px 3px 32px rgba(179, 179, 179, 0.5);
}

.card img {
    width: 160px;
}

.div-img-card {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
}

footer {
    background: linear-gradient(45deg, #eae06b, #f1d744, #edce34);
    padding: 30px 30px 30px 30px;
    border: 2px solid #ffcc13;
    border-radius: 15px 15px 0 0;
    margin-top: 128px;
}

.div-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer h2 {
    background: linear-gradient(45deg, #23a2d8, #0a5698);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px 0 0 0;
    font-size: 32px;
    font-weight: 700;
}

footer a {
    text-decoration: none;
}

.div-ending {
    padding: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.div-ending h6 {
    font-size: 14px;
    color: #525252;
    margin: 0;
}

@keyframes upDown {
    0% {
        transform: translateY(4px);
    }

    50% {
        transform: translateX(6px);
    }

    100% {
        transform: translateY(4px);
    }
}

@keyframes upDown1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(6px);
    }

    100% {
        transform: translateY(0);
    }
}

@media only screen and (max-width: 1054px) {
    .div-h1 {
        padding: 0 100px 0 0;
    }

    .card-div {
        flex-direction: column;
        align-items: center;
    }

    #carousel-1, 
    #carousel-2, 
    #carousel-3, 
    #carousel-4 {
        width: 300px;
        height: 450px;
        gap: 0;
    }

    .pipe-carousel {
        width: 240px;
    }
}


@media only screen and (max-width: 840px) {
    .landing-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .div-landing-welcome {
        padding: 0 0 16px 0;
    }

    .div-landing-img {
        bottom: 340px;
    }

    .about-div {
        flex-direction: column;
        justify-content: center;
    }
    
    .about-img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .div-h1 {
        padding: 0;
    }

    .div-h1 h1:nth-of-type(1) {
        padding: 0 0 40px 0;
    }

    .div-h1 h1:nth-of-type(2) {
        padding: 0 0 70px 0;
    }
    
    #carousel-1, 
    #carousel-2, 
    #carousel-3, 
    #carousel-4 {
        width: 200px;
        height: 300px;
    }

    #carousel-1 h1:nth-child(1), 
    #carousel-2 h1:nth-child(1), 
    #carousel-3 h1:nth-child(1), 
    #carousel-4 h1:nth-child(1) {
        font-size: 24px;
    }

    .location-div img {
        width: 36px;
    }

    .location-div h1 {
        font-size: 18px;
    }

    .pipe-carousel {
        width: 140px;
    }
}

@media only screen and (max-width: 732px) { /* Lanjutin fitur hamburger dimulai disini */
    /* hamburger menu start */
    #navbar.active {
        border-radius: 0;
    }

    .navbar {
        transition: box-shadow 0.3s ease-in-out, border-radius 1s ease-in-out;
    }

    .navbar:hover {
    box-shadow: 0 3px 24px rgb(0, 0, 0, 0.5);
}
    
    .hamburger {
        display: flex;
    }

    .nav-link {
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        gap: 6px;
        background: linear-gradient(45deg, #f1ad47, #f9b152);
        opacity: 0.5s;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }

    .nav-link.open {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 0 50px 50px;
        max-height: 500px;
        opacity: 0.9;
    }

    .nav-link li {
        text-align: center;
        padding: 1rem 0;
    }

    .nav-link a {
        display: block;
    }
    /* hamburger menu end */
}